@font-face {
    font-family: 'TrajanProBold';
    src: url('../Assets/Fonts/Trajan\ Pro\ Bold.ttf') format('truetype');
  }
  
  * {
    margin: 0;
    padding: 0;
  }
  
  body,
  html {
    height: 100%;
    font-family: 'TrajanProBold', Arial, sans-serif;
  }
  
  html {
    background-image: url("../Assets/greyfade.jpg");
    background-color: black;
    background-size: 100% auto;
    background-repeat: no-repeat;
    background-position: center top;
    background-attachment: fixed;
    position: relative;
    min-height: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    color: white;
  }
  
  body {
      width: 100%;
  }
  
  h1 {
    font-size: 3rem;
    margin-bottom: 1rem;
  }
  
  p {
    font-size: 1.5rem;
    font-family: 'TrajanProBold', Arial, sans-serif;
  }
  .header{
    display: flex;
    gap: 8px;
    align-items: center;
    padding: 15px 30px;
    position: absolute;
    z-index: 10;
}

.header img{
    height: 40px;
    width: auto;
}

.header p{
    letter-spacing: 2.5px;
    font-size: 32px;
}

.navBar {
    display: flex;
    gap: 10px;
    margin-left: 30px;
    font-size: 20px;
}

.nb-home, .nb-greetings,.nb-dev {
    color: white;
    padding: 8px 13px;
    text-decoration: none;
    border-radius: 5px 5px 0px 0px;
    transition: background-color 0.3s, outline 0.3s;
}

.nb-home:hover,
.nb-greetings:hover,
.nb-dev:hover {
    background-color: rgba(244, 244, 244, .2);
    backdrop-filter: blur(10px);
    outline: 2px solid rgba(255, 255, 255, .6);
}